body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: black;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
}

header {
        color: teal;
        text-align: center;
}

header h1 {
        font-size: 40px;
        margin: 10px;
}

nav {
        display: inline-block;
        background-color: navy;
        width: 100%;
}

nav ul {
        padding: 0;
}

nav ul li {
        list-style: none;
        padding-right: 10px;
        display: inline;
        color: white;
        font-size: 12px;
        text-decoration: underline;
}

section {
        margin-top: 50px;
        width: 600px;
        float: left;
        margin-left: 100px;
}

aside {
        margin-top: 50px;
        width: 200px;
        float: right;
        border: solid 3px black;
        margin-right: 50px;
}

figure {
        margin: 5px;
}

figure img {
        max-width: 500px;
}

aside figure img {
        max-width: 190px;
}

footer {
        clear: both;
}